body{
    height: 95vh;
    width: 95;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.titulo {
    color: rgb(94, 124, 206);
}

.nome {
    color:black;
    padding-top: 10px;
}

.pontuacao{
    margin-left: 750px;
    font-size: 15px;
}